{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% block modal-body-right %}
  <h3>{% trans "Description" %}:</h3>
  <p>{% blocktrans trimmed %}
      Add policy rule to share, 'cephx' rule represents ceph auth ID.
    {% endblocktrans %}</p>
{% endblock %}
